html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
}

body {
    background: black;
    color: white;

    font-family: monospace;
    font-size: 13pt;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


a {
    color: white;
    text-decoration: none;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin: 1rem 0 0 0;
}

h2 {
    margin: 2rem 0 0 0;
}

.boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -1rem;
}

.box {
    flex-basis: 20%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1000px) {
    .box {
        flex-basis: 40%;
    }
}

@media screen and (max-width: 600px) {
    .box {
        flex-basis: 100%;
    }
}

.box-content {
    flex-grow: 1;

    border: 1px solid white;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.link .box-content {
    flex-direction: row;
    justify-content: space-evenly;
}

.box-content img {
    filter: grayscale(100%);
    image-rendering: crisp-edges;
    text-align: center;
}

.machine img, .service img {
    min-width: 50%;
    max-width: 100%;
}

.link img {
    min-height: 1rem;
    max-height: 4rem;
}

.label h3 {
    margin: 1rem 0;
    text-align: center;
}

.link .label {
    margin-left: 1rem;
}

.link .label h3 {
    margin: 0 0 1rem;
}

.box .label .description {
    font-size: 10pt;
    margin: 0;
    align-self: flex-start;
    text-align: center;
}

.status {
    border: 1px solid white;
    border-top: 0;
    text-transform: uppercase;
    text-align: right;
    padding: .25em .5em;
}

.status-ok .status {
    color: gray;
}

.status-down .status {
    color: darkred;
}

.status-unknown .status {
    color: darkorange;
}

.stats {
    text-align: center;
    padding: 1.5rem 0;
}

.stats em {
    font-style: normal;
    font-weight: bold;
}

.firehose {
    margin: 0 4rem 2rem 4rem;
}

@media screen and (max-width: 600px) {
    .firehose {
        margin: 0 .5rem 1rem .5rem;
    }
}

.firehose a {
    text-decoration: underline;
}

.firehose .logs {
    list-style: none;
    padding: 0;
}

.firehose .logs .header .timestamp {
    white-space: nowrap;
    color: darkgray;
    margin-right: 1em;
}

.firehose .logs .header {
    display: flex;
}

@media screen and (max-width: 600px) {
    .firehose .logs .header {
        flex-direction: column;
        align-items: center;
    }
}

.firehose .logs li {
    margin: .75em 0;
}

@media screen and (min-width: 600px) {
    .firehose .logs .summary {
        margin: .25em 0 0 4rem;
    }
}

@media screen and (max-width: 600px) {
    .firehose .logs .summary {
        margin: .25em 0 0 0;
    }
}
